@import "padrao.less";

@bgColorSelect:#ECF7EC;
@borderColorButton:#A0BC93;
@borderColorInputTree:#090;
@bgColorInputTextareaSelect:#EFFBEF;
@borderColorInputTextareaSelect:#D1E9D3;
@bgColorRequired:#F00;
@headerBackgroundColor:#D4F2D6;
@headerTextColor:#5B7961;
@panelBorderColor:#C0C0C0;
@tableBorderColor:#C0C0C0;
@tableBorderWidth:1px;

@baseBgColor:#c3d9e4;
@baseDegBgColor:#acc8be;

/* CSS para as Paginas */
#html,#body {
  background: @baseBgColor; /* Cor fixa para Browsers antigos */
    /* IE9 SVG */
  background: -moz-linear-gradient(top, @baseBgColor 13%, @baseDegBgColor 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(13%, @baseBgColor),
    color-stop(100%, @baseDegBgColor));
  background: -webkit-linear-gradient(top, @baseBgColor 13%, @baseDegBgColor 100%);
  background: -o-linear-gradient(top, @baseBgColor 13%, @baseDegBgColor 100%);
  background: -ms-linear-gradient(top, @baseBgColor 13%, @baseDegBgColor 100%);
  background: linear-gradient(to bottom, @baseBgColor 13%, @baseDegBgColor 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@baseBgColor',
    endColorstr='@baseDegBgColor', GradientType=0);
}

.subBorda {
  color: #FFFFFF;
  background: #bbcec2; /* Cor fixa para Browsers antigos */
    /* IE9 SVG */
  background: -moz-linear-gradient(45deg, #bbcec2 0%, #80a991 75%, #80a991 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #bbcec2),
    color-stop(75%, #80a991), color-stop(100%, #80a991));
  background: -webkit-linear-gradient(45deg, #bbcec2 0%, #80a991 75%, #80a991 100%);
  background: -o-linear-gradient(45deg, #bbcec2 0%, #80a991 75%, #80a991 100%);
  background: -ms-linear-gradient(45deg, #bbcec2 0%, #80a991 75%, #80a991 100%);
  background: linear-gradient(45deg, #bbcec2 0%, #80a991 75%, #80a991 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbcec2',
    endColorstr='#80a991', GradientType=1);
}

.banner,.menu-nav {
  color: #030;
}

.banner .divBg,.menu-nav, .menu-itm {
  background-color: #a0c991;
}
.menu-itm-lbl:hover{
  color: #a0c991;
  background-color: #030;
}
.banner {
  background: #c7d8cd; /* Cor fixa para Browsers antigos */
  /* IE9 SVG */
  background: -moz-linear-gradient(top, #c7d8cd 0%, #dbe5de 90%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c7d8cd),
    color-stop(90%, #dbe5de));
  background: -webkit-linear-gradient(top, #c7d8cd 0%, #dbe5de 90%);
  background: -o-linear-gradient(top, #c7d8cd 0%, #dbe5de 90%);
  background: -ms-linear-gradient(top, #c7d8cd 0%, #dbe5de 90%);
  background: linear-gradient(to bottom, #c7d8cd 0%, #dbe5de 90%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7d8cd',
    endColorstr='#dbe5de', GradientType=0);
}

/* Pagina do Login*/
.corpoSuperior {
  background: #cce0e6; /* Old browsers */
  background: -moz-linear-gradient(top, #cce0e6 0%, #bcd6d4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cce0e6),
    color-stop(100%, #bcd6d4));
  background: -webkit-linear-gradient(top, #cce0e6 0%, #bcd6d4 100%);
  background: -o-linear-gradient(top, #cce0e6 0%, #bcd6d4 100%);
  background: -ms-linear-gradient(top, #cce0e6 0%, #bcd6d4 100%);
  background: linear-gradient(to bottom, #cce0e6 0%, #bcd6d4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cce0e6',
    endColorstr='#bcd6d4', GradientType=0);
}

.corpoInferior {
  background: #c6dddf;
  background: -moz-linear-gradient(top, #c6dddf 0%, #b2d0c7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c6dddf),
    color-stop(100%, #b2d0c7));
  background: -webkit-linear-gradient(top, #c6dddf 0%, #b2d0c7 100%);
  background: -o-linear-gradient(top, #c6dddf 0%, #b2d0c7 100%);
  background: -ms-linear-gradient(top, #c6dddf 0%, #b2d0c7 100%);
  background: linear-gradient(to bottom, #c6dddf 0%, #b2d0c7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6dddf',
    endColorstr='#b2d0c7', GradientType=0);
}

.bg_login,.newPasswd {
  background: #a2b9b5; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: -moz-linear-gradient(top, #a2b9b5 0%, #b8d1cf 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a2b9b5),
    color-stop(100%, #b8d1cf)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #a2b9b5 0%, #b8d1cf 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #a2b9b5 0%, #b8d1cf 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #a2b9b5 0%, #b8d1cf 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #a2b9b5 0%, #b8d1cf 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2b9b5',
    endColorstr='#b8d1cf', GradientType=0); /* IE6-8 */
}

.input_login {
  background: rgb(244, 247, 246); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: -moz-linear-gradient(top, rgba(244, 247, 246, 1) 0%,
    rgba(255, 255, 255, 1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(244,
    247, 246, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(244, 247, 246, 1) 0%,
    rgba(255, 255, 255, 1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(244, 247, 246, 1) 0%,
    rgba(255, 255, 255, 1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(244, 247, 246, 1) 0%,
    rgba(255, 255, 255, 1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(244, 247, 246, 1) 0%,
    rgba(255, 255, 255, 1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f7f6',
    endColorstr='#ffffff', GradientType=0); /* IE6-8 */
  border: 2px solid #c4d6d1;
}

.bg_login_inferior {
  background: rgb(195, 216, 219); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: -moz-linear-gradient(top, rgba(195, 216, 219, 1) 0%,
    rgba(185, 209, 208, 1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(195,
    216, 219, 1)), color-stop(100%, rgba(185, 209, 208, 1)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(195, 216, 219, 1) 0%,
    rgba(185, 209, 208, 1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(195, 216, 219, 1) 0%,
    rgba(185, 209, 208, 1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(195, 216, 219, 1) 0%,
    rgba(185, 209, 208, 1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(195, 216, 219, 1) 0%,
    rgba(185, 209, 208, 1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3d8db',
    endColorstr='#b9d1d0', GradientType=0); /* IE6-8 */
}

.input_button {
  background: #FFF !important;
  border: 1px solid #868686 !important;
  color: #8ca29c !important;
}

.login-lbl {
  color: #616161;
}

.ui-draggable:after {
  
}

.rf-tr-nd.rf-drp-hvr {
  /*background-color:#FFFF00;*/
  
}

.rf-tr-nd.rf-drp-hlight {
  border: 1px solid #5B7961;
}

.caixa-drag {
  border: 1px solid #5B7961;
  background-color: #D4F2D6;
  color: #5B7961;
  cursor: all-scroll;
}

.tree-b {
  border-color:@borderColorInputTree;
}
option {
  background-color:@bgColorSelect;
}

textarea {
  &:extend(.ipt-txt-area-select);
}
.buttons {
  border-color:@borderColorButton;
  &.branco{
    background-color:@headerBackgroundColor;
  }
}
.tree-hdr {
  & > .rf-cp-gr {
    background-color:transparent;
  }
}
.required {
  color:@bgColorRequired;
}
.d-msg-h {
  color:@headerTextColor;
  border-color:@panelBorderColor;
  background-color:@headerBackgroundColor;
}
.rf-dt-thd {
  border-color:@tableBorderColor;
  border-width:@tableBorderWidth;
}
.rf-dt-hdr {
  background-color:@headerBackgroundColor;
}
.rf-dt-shdr {
  background-color:@headerBackgroundColor;
}
.rf-dt-hdr-c {
  color:@headerTextColor;
}
.label-general {
  &.resultado-pesquisa-ajuda {
    &:extend(.rf-dt-hdr-c);
  }
}
.ipt-txt-area-select {
  border-color:@borderColorInputTextareaSelect;
  background:@bgColorInputTextareaSelect;
}

select {
  &:extend(.ipt-txt-area-select);
}