@import "epp-mixins.less";

@login-label-color:#616161;

@login-corpoSuperior-bg-color:#cce0e6;
@login-corpoSuperior-bg-deg-color:#bcd6d4;

@login-corpoInferior-bg-color:#c6dddf;
@login-corpoInferior-bg-deg-color:#b2d0c7;

@central-block-top-right-section-bg-color:#a2b9b5;
@central-block-top-right-section-bg-deg-color:#b8d1cf;
@central-block-bottom-right-section-bg-color:#c3d8db;
@central-block-bottom-right-section-bg-deg-color:#b9d1d0;

@input-text-login-bg-color:#f4f7f6;
@input-text-login-bg-deg-color:#ffffff;
@input-text-login-bord-color:#c4d6d1;

@baseBgColor:#c3d9e4;
@baseDegBgColor:#acc8be;

.blocoCentralLogin{
  position:fixed;
  top:0;
  left:50%;
  width:0;
  height:0;
}
.logo {
  height:225px;
}
.logo-img {
  max-width:450px;
  max-height:225px;
}

.login.button {
  border: 1px solid #A7CFE7;
  background: -moz-linear-gradient(center top, #D4E89C, #C7DA94) repeat
    scroll 0% 0% transparent;
  border-radius: 4px;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 0px
    rgba(255, 255, 255, 0.4) inset;
  text-shadow: 0px 1px 0px #ADDC7E;
  color: #1E77B7;
  font-family: dax_lightregular;
  padding: 8.5px 18px;
  font-size: 14rem/16;
  text-decoration: none;
  vertical-align: middle;
  margin: 25px 4px 0 0;
}

.block {
  position:relative;
  width:450px;
  left:-225px;
  margin-top:20px;
  
  text-align:center;
  color:#4b4b4b;
  font-style:italic;
  font-weight:bold;
}

.link.login {
  color: #005082;
  text-decoration:none;
}

.login.input.input-txt {
  font-size:16rem/16;
}

.input.input-txt {
  background-color: #FFF;
  border-radius: 5px;
  height: 35px;
  width: 230px;
  margin-bottom: 10px;
  padding-left: 10px;
}
