@import "epp-mixins.less";

@menu-bg-color:#a0c991;
@menu-txt-color:#030;
@menu-itm-lbl-padding:4px;

.menu-nav {
  color: @menu-txt-color;
  background-color: @menu-bg-color;
}
.menu-itm {
  position:relative;
  list-style:none;
  background-color: @menu-bg-color;
}
.menu-main {
  position:relative;
  display:block;
  margin:0;
  padding:0;
  & > .menu-itm {
    &:extend(.organized);
    & > .menu-submenu {
      margin:0;
    }
  }
}
.menu-submenu {
  display:none;
  position:absolute;
  padding:0;
  min-width:100%;
  margin-left:100%;
  margin-top:-24px;
  z-index:9000;
}
.menu-lnk {
  color: @menu-txt-color;
  text-decoration:none;
}
.menu-itm-lbl{
  text-decoration: none;
  white-space: nowrap;
  padding:@menu-itm-lbl-padding;
  border-width:1px;
  border-style:solid;
  border-color:darken(@menu-bg-color,5%);
  &:hover {
    cursor:pointer;
    color: @menu-bg-color;
    background-color: @menu-txt-color;
    border-color:@menu-bg-color;
  }
  .sub-menu-lbl {
    .image("arrow-right.png");
    padding-right:@menu-itm-lbl-padding+10px;
  }
}

@media (max-width:660px){
  .menu-submenu{
    margin-left:5px;
    margin-top:0;
    z-index:9000;
  }
  
  .menu-main > .menu-itm {
    display:none;
  }
  .menu-main:after{
    content: "\2000";
  }
  .menu-main:hover > .menu-itm {
    display:block;
  }
  .menu-main > .menu-itm > .menu-submenu,.menu-submenu {
    display:none;
    position:relative;
    margin-left:15px;
    margin-top:0;
    padding:0;
  }
}

.menu-itm:hover > .menu-submenu,.menu-main,.menu-itm{
  display:block;
}