.clean-pageBody {
	height:calc(~"100% - 2px");
}
.minimal {
  &.banner{
    height:85px;
    display:inline-block;
    background:transparent;
    width:100%;
  }
  &.tituloPagina{
    height:25px;
  }
  &.conteudo {
    height:calc(~"100% - 129px");
  }
  &.banner-rgt {
    display:inline-block;
    width:calc(~"50% - 2px");
    text-align:right;
    color:#FFF;
    font-weight:900;
  }
  &.banner-lft {
    display:inline-block;
    width:calc(~"50% - 2px");
  }
  &.painelUsuario-label{
    &.name {
      text-align:right;
      color:#FFF;
      font-weight:900;
    }
  }
  &.pageContent {
    height: 100%;
  }
}