
#normalize-rich-components(){
    .fonts {
      font-size:1em;
      font-family:@default-font-family;
    }
    .background{
      background-repeat: inherit;
      background-position: inherit;
      background-color: inherit;
      background-image: inherit;
    }
}

#normalize-infox-components(){
  .default {
    .ui-widget-content,
    .ui-widget-header,
    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default {
        border-color: @standard-border-color;
    }
  }
}

#normalize-prime-components() {
  .picklist {
    .ui-picklist {
      .ui-picklist-list {
        width: initial;
      }
    }
  }
}

p {
    img {
      max-height:100%;
      max-width:100%;
    }
}
body {
    #normalize-prime-components > .picklist;
    #normalize-infox-components > .default;
    .ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{
      #normalize-rich-components > .fonts;
    }
    input, select, textarea, button, keygen, isindex, legend, a{
        #normalize-rich-components > .fonts;
    }

    button, input[type="reset"], input[type="submit"], input[type="button"], textarea, input[type="text"], input[type="password"], select{
        #normalize-rich-components > .fonts;
        #normalize-rich-components > .background;
    }
    textarea, input[type="text"], input[type="password"], select{
        #normalize-rich-components > .fonts;
        #normalize-rich-components > .background;
        border-radius:3px;
    }
    button:hover, input[type="reset"]:hover, input[type="submit"]:hover, input[type="button"]:hover, button[disabled], input[type="reset"][disabled], input[type="submit"][disabled], input[type="button"][disabled] {
        #normalize-rich-components > .background;
    }
    .rf-au{
      #normalize-rich-components > .fonts;
      #normalize-rich-components > .background;
    }
    .rf-p-b {
      #normalize-rich-components > .fonts;
      padding:1em;
    }
    .rf-p-hdr{
      #normalize-rich-components > .fonts;
      padding:2em/11;
      border-width:1em/11;
    }
    .rf-cp-hdr {
      #normalize-rich-components > .fonts;
      #normalize-rich-components > .background;
      padding:2em/11;
      border-width:1em/11;
    }
    .rf-cp-ico {
      width:16em/11;
      height:16em/11;
    }
    .rf-cp-b{
      #normalize-rich-components > .fonts;
      padding:10em/11;
    }
    .rf-dt-c,.rf-dt-nd{
      #normalize-rich-components > .fonts;
      padding:4em/11;
    }
    .rf-dt-hdr-c,.rf-dt-shdr-c,.rf-dt-flt-c,.rf-dt-sftr-c,.rf-dt-ftr-c{
      #normalize-rich-components > .fonts;
      #normalize-rich-components > .background;
      padding:4em/11;
    }
    .rf-pp-hdr-cnt, .rf-pp-hdr-cntrls, .rf-pp-cnt{
      #normalize-rich-components > .fonts;
    }
    .rf-trn{
      #normalize-rich-components > .fonts;
    }

    .ui-inputfield,
    .ui-widget-content .ui-inputfield,
    .ui-widget-header .ui-inputfield {
        .prefixed-atrib(box-shadow, initial);
    }
    .ui-inputfield.ui-state-focus,
    .ui-widget-content .ui-inputfield.ui-state-focus,
    .ui-widget-header .ui-inputfield.ui-state-focus {
        border-color: @standard-border-color;
        outline: initial;
        .prefixed-atrib(box-shadow, initial);

    }

}
html {
  font-size:0.8125rem;
}
/*
html {
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx){
    font-size:0.8125rem*2;
  }
}
*/
