/target
/uml
*.orig
*~
/bin
/src/main/java/br/com/experimentos
*.db
/br.com.infox.epp.ajuda.entity.Ajuda
derby.log
/IndexAjuda
/IndexProcessoDocumento
/IndexTaskContent
.settings/org.hibernate.eclipse.console.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml
