/target
/uml
*.orig
*~
/bin
/src/main/java/br/com/experimentos
*.db
/br.com.infox.epp.ajuda.entity.Ajuda
derby.log
/IndexAjuda
/IndexProcessoDocumento
/IndexTaskContent
.settings/org.hibernate.eclipse.console.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.wst.common.component
/src/main/resources/git.properties
/.classpath
/.externalToolBuilders
/.factorypath
/.metadata
/.project
/.settings
src/main/webapp/resources/styleSkinInfox/*.css
src/main/webapp/resources/styleSkinInfox/*.ecss
/target
/.target/
/.apt_generated/
