.dtable-search-form {
	display: inline-block;
	vertical-align: top;
	margin: 0 5px 5px 0;
	width:284px;
}
.dtable-p-b.rf-p-b {
	padding: 2px;
	overflow: auto;
}
.dtable-p.rf-p {
	display: inline-block;
	width:calc(100% - 291px);
	padding:0px;
}
.zebra .rf-dt-r:nth-child(odd) {
	background-color:#FAFAFA;
}
.rf-dt-r:hover, .zebra .rf-dt-r:nth-child(even) {
	background-color:#E7E7E7;
}
.zebra tr.rf-dt-r:hover {
	background-color:#AFAFAF;
}
.rf-dt {
	width: 99%;
}