.dtable-search-form.hidden {
	display:none;
}

.dtable-search-form {
	display: inline-block;
	vertical-align: top;
	margin: 0 5px 5px 0;
	width:284px;
}
.dtable-p-b.rf-p-b {
	padding: 2px;
	overflow: auto;
}
.dtable-p.rf-p {
	display: inline-block;
	width:calc(100% - 291px);
	padding:0px;
}
.dtable .rf-dt-r:nth-child(odd) {
	background-color:#FAFAFA;
}
.rf-dt-r:hover, .dtable .rf-dt-r:nth-child(even) {
	background-color:#E7E7E7;
}
.dtable tr.rf-dt-r:hover {
	background-color:#AFAFAF;
}
.rf-dt {
	width: 99%;
}
.tb-rprt,.tb-rprt-xls {
	display:inline-block;
	margin:0px 3px;
}

.picklist-div {
	display:inline-block;
	vertical-align:bottom;
	width:calc(50% - 7px);
	margin:0 2px;
}
.picklist.dtable-p.rf-p {
	width:100%;
	min-height:478px;
}

