.dtable-search-form.hidden {
	display:none;
}

.dtable-search-form {
	display: inline-block;
	vertical-align: top;
	margin: 0 5px 5px 0;
	width:284px;
}
.dtable-p-b.rf-p-b {
	padding: 2px;
	overflow: auto;
}
.dtable-p.rf-p {
	display: inline-block;
	width:calc(100% - 291px);
	padding:0px;
}
.rf-dt-b > .rf-dt-r:nth-child(odd) {
	background-color:#FAFAFA;
}
.rf-dt-b > .rf-dt-r:nth-child(even) {
	background-color:#E7E7E7;
}
.rf-dt-b > .rf-dt-r:hover {
	background-color:#AFAFAF;
}
.rf-dt {
	width: 100%;
	text-align:center;
}
.tb-rprt,.tb-rprt-xls {
	display:inline-block;
	margin:0px 3px;
}

.picklist-div {
	display:inline-block;
	vertical-align:bottom;
	width:calc(50% - 7px);
	margin:0 2px;
}
.picklist.dtable-p.rf-p {
	width:100%;
	min-height:478px;
}
.dt-toolbar-col {
	width:55px;
	padding:2px 0px 0px 0px;
	text-align:center;
	border-style:solid;
	border-width:1px;
	border-color: #CCC;
}

.dt-res-count {
	float: right;
}
.rf-dt-thd {
	border-style:solid;
}

.rf-dt-shdr-c {
	color:#000;
}

.rf-dt-ftr-c {
	text-align: center;
	padding: 0px
}

.rf-dt-sftr-c {
	text-align: center;
}

.p-list-search.dtable-search-form, .dtable-p.p-list-panel.rf-p,.p-list-dtable.dtable.rf-dt {
	width:100%;
}