.banner {
	width:100%;
	position:relative;
	height:85px;
}
.banner-lft, .banner-ctr, .banner-rgt {
	position:absolute;
}
.banner-lft {
	width:317px;
}
.banner-ctr {
    font-size:20pt;
    text-align:center;
    left:calc(50% - 147.5px);
}
.banner-title {
	margin-top:15px;
	font-size:24px;
}
.banner-subTitle {
	font-size:18px;
}
.banner-rgt {
	right:0;
    text-align: right;
    width:317px;
}
.divBg {
	width:100%;
	height:28px;
	border-bottom-left-radius: 28px;
}
.divBg.hidden {
	visibility:hidden;
}
.BP-ipt {
	width:120px;
}
.BP-lbl {
	font-size:11px;
	font-weight:bold;
}
.BarraPesquisa,.SeletorSkins {
	display:inline-table;
	vertical-align:top;
}
.palette-img-inpt {
	width:18px;
	height:auto;
	cursor:pointer;
}
.PaletteMenu {
	width: 250px;
}
.bannerclock.liveclock {
	right:0%;
	top:0%;
	text-align: right;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.name.painelUsuario-label {
	color:inherit;
}
.painelUsuario-label,.painelUsuario-select {
	display:block;
}
.banner-logo {
	height:85px;
}