.d-msg.hidden {
	visibility:hidden;
}
.d-msg-h {
	height:18px;
	font-weight:bold;
	border-style:solid;
	border-width:1px;
	position:relative;
}
.d-msg-h-close {
	cursor: pointer;
	position:absolute;
	right:2px;
	top:2px;
}
.d-msg-h-lbl {
	position:absolute;
	left:2px;
	top:2px;
}
.d-msg-c {
	 overflow:auto;
	 height:120px;
	 padding:5px;
	 color:#000;
}

.d-msg-c > ul {
	margin:0;
	padding:4px;
}

.d-msg-c > ul > li {
	 display:inline-block;
}

.rf-msgs-wrn {
	display:none;
}

.rf-msgs-err {
	padding: 2px;
	border: 1px solid red;
	background-color: #FFFFE0;
	display: block;
	background-image: none;
}

.d-msg {
	position:absolute; 
	top:calc(50% - 67px);
	left:calc(50% - 152px);			
	width:300px;
	height:131px;
	background-color:#fff;   				
	border:1px solid #BCC1BD;
	padding:1px;
	z-index:10000;
	font-size:12px;		
}

.d-msg-modal {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: #fff;
	opacity: 0.7;
	z-index: 9999;
}