.clean-pageBody {
	width:100%;
	height:calc(100% - 89px);
	position:absolute;
}
.ui-widget-content {
	height:calc(100% - 6px);
}
.ui-tabs-panel.ui-widget-content.ui-corner-bottom {
	height:calc(100% - 30px);
	padding:0;
}
.blocker {
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
}