.clean-pageBody {
	width:100%;
	height:calc(100% - 2px);
}
.ui-widget-content {
}
.ui-tabs-panel.ui-widget-content.ui-corner-bottom {
}
.blocker {
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
}
.applet-div.hidden {
	visibility:hidden;
}
.banner-logo {
	height:85px;
}