/*LAYOUT GERAL DA PÁGINA*/
.dt-form-p-b > div:not(.required-alert){
	display:inline-block;
	vertical-align:top;
}

.Associated, .Associative {
	display:inline-block;
	vertical-align:bottom;
	width:50%;
}

.Associated-dt.dtable-p.rf-p, .Associative-dt.dtable-p.rf-p {
	width:100%;
	max-width:100%;
	min-height:478px;
}

.tree-p.rf-cp.rf-tgp {
	border-color:#fff;
	display:inline-table;
	width:calc(100% - 21px);
}

.tree-b {
	position: absolute;
	width: 224px;
	max-height: 250px;
	z-index: 10;
	background-color: #FFF;
	border-style:solid;
	border-width:1px;
}

.tree-div-clear {
	height:18px;
	display:inline-table;
}

.property.field.edit {
	margin:0 15px 15px 0;
}

.rf-cp.rf-tgp,.rf-cp-hdr.rf-cp-hdr-exp {
	padding:0px;
}
.rf-cp-gr,.rf-cp-hdr.rf-cp-hdr-exp {
	border-spacing:0px;
}

.conteudo {
	position:relative;
	font-size:14pt; 
	text-align:left;
	padding:5px;
	height:calc(100% - 36px);
	overflow:auto;
	margin:5px 0 0 0;
}
.tituloPagina {		
	font-weight:bold;
	font-size:14pt;
	color:#fff;
	display:block;
	text-align:right;
}
.pageBody {
	width:100%;
	position:absolute;
	height:calc(100% - 110px);
	min-width:1020px;
	min-height:514px;
}
.pageContent {
	background-color:#FFF;
	border:1px solid #999;
	border-radius:10px;
	position:relative;
	height:100%;
}
.subBorda {
	border-radius:7px;
	position:relative;
	margin:8px;
	padding:5px;
	height:calc(100% - 26px);
}
.SearchForm {
	display: inline-block;
	vertical-align: top;
	margin: 0 5px 5px 0;
}
/* FIM LAYOUT GERAL */
/* MENU */
.rf-tb.menu-tb {
	min-width:1019px;
}
.LinkMenu {
	text-decoration:none;
}
/* FIM MENU*/

.readOnly {
	color: gray !important;
}

.checkbox {
	width: 14px !important;	
}

.panelGridCell {
	vertical-align: top;	
}
.grid {
	overflow: auto;
}
.tableControl {
	width: 100%;
	text-align: right;
}
.footer {
	text-align: center;
}
h1 {
	font-family: Arial, sans-serif;
	color: #578BB8;
	font-size: 1.6em;
	margin-top: 0;
}

html, body {
	width:100%;
	height:100%;
}
form {
	margin:0px;
}
body {
	margin: 0px;
	font-family: Arial, sans-serif;
	color: #616161;
}

.dtable-p-b.rf-p-b {
	padding: 2px;
	overflow: auto;
}
.columnHeader:hover {
	color: #FF6600;
}
	
.viewColumn,.name {
	vertical-align: top;	
}

.name {
	font-weight: bold;
	margin: 0px;
}

.value,.name {
	padding: 0px;
	color:#000;
}

.DataTableToolbar {
	padding:2px 0px 0px 0px;
	text-align:center;
	border-style:solid;
	border-width:1px;
	border-color: #CCC;
}

.DataTableResultCount{
	float: right;
}

.errorFields {
	margin-left:20px;
	margin-top:5px;
	float:left;
	padding:2px;
	border:1px solid red;
	background-color: #FFFFE0;
}

.errors {
	color: red;
}

.errors input, .errors textarea {
	border:1px solid red;
}

.activeRow {
	 background-color:#F0F8FF !important;
}

.dr-stglpnl-b {
	padding: 0px 5px;
}

.inativo {
	text-decoration: line-through;
	color: red;
}

.expirado {
	color: red;
}

.nivelpai {
	font-size: 115%;
	font-weight: bolder;
}

.dr-tree {
	background-color: #fff;
}

.folderHighlighted {
	text-decoration: none !important;
	color: #000 !important;
}

.folderSelected {
	border:solid 1px transparent !important;
}

.rf-dt-thd {
	border-style:solid;
}

.rf-dt-shdr-c {
	color:#000;
}

.rf-dt-ftr-c {
	text-align: center;
	padding: 0px
}

.rf-dt-sftr-c {
	text-align: center;
}

.highlight {
	font-weight: bold;
}

/* BAM */
.circ {
	width:15px;
	height:15px;
	border-width:0px;
	border-radius:15px;
    left: 10px;
}

.yellow-back {
	background-color: #ff0;
}

.red-back {
	background-color: red;
}

#help .highlight {
	background-color: #ffa;
}

#pagina .highlight {
	background-color: #ffa;
}

.defaultCell {
	padding:2px 3px 0px 3px;
}	
			
.painelLog{		 
	width:350px; 	        
	background: transparent;
	border: none;      
}	
	
.rich-spinner-button {
	height: 7px;
	width: 13px !important;
}

.rf-tab.tarefasDiv .rf-tab-cnt {
	width:310px;
	height:450px;
	border-bottom-color:#C0C0C0;
	border-left-color:#C0C0C0;
	border-right-color:#C0C0C0;
}

/*Retira o sombreamento do ModalPanel*/
.noMaskClass .rich-mpnl-mask-div{
	display:none;				       
} 
   
.columnDataListToolBar {
	width: 40px;
	padding: 2px 0px 0px 0px;
	text-align: center;
	border-style:solid;
	border-width:1px;
	border-color:#CCC;
}

.transpToolBar {							
    width: 100%; 
    text-align: center;
    opacity:0.30;	
    filter: alpha(opacity=30);				    
}

.transpToolBar:hover {
    opacity:1.0;
    filter: alpha(opacity=100);
}

.opacityHover {
	opacity:0.3;
}

.opacityHover:hover {
	opacity:1;
}

img.disabled {
	opacity: 0.3;
	filter: alpha(opacity=3);		
}

.transparency {
	background-color: transparent;
	border: none;
}

.formPesquisa div {
    border-radius:5px;
    height:30px;
    text-align: right;
    width: 100%;
}

.formPesquisa input[type="image"] {
    position: relative;
    top: 5px;
}

.palette div {
	width: 67px;
	height: 21px;
}

select {
	border-width:0px;
	width: 250px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: top;
}

.inputText {
	width: 250px;
}

.rich-calendar-input,.inputText {
	border-width:0px;
	height: 15px;
	color: #000;
	background-repeat: no-repeat;
	background-position: top left;
}

.linkButton {
	padding: 3px 12px;
}

.reqSenha label {
    font-family: Arial,sans-serif;
    margin: 0;
}

.expressionDiv div {
	display: inline-block;
}

.conclusionSelect {
	display: block;
}

#backgroundBlock {
	left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #000;
    opacity: 0.75;
}

#atividadeParteDiv form {
    left: 50%;
    top: 50%;
    height: 136px;
    width: 284px;
    margin: -68px 0 0 -197px;
    position: fixed;
    z-index: 2;
    background-color: #FFF;
}

#atividadeParteDiv input[type="button"], #atividadeParteDiv input[type="submit"] {
    background-color: #FFF;
}

#atividadeParteDiv form .rich-panel {
    height: 100px;
    margin: 0;
    max-width: 99%;
    padding-top: 0;
}
			
.expressionDiv span:hover {
	background-color:#BBCEC2;
	cursor:pointer;
}

.inputTextMiniW69,.inputTextMiniW25,.foneDDD,.foneNormal {
	border-width:0px;
	color: #000;
	background-repeat: no-repeat;
	background-position: top left;
}

.buttons {
	height: 22px !important;
	min-width: 80px;
	margin: 5px 5px 0 0;
	padding: 0px 12px 3px 3px;
	border-style:solid;
	border-width:1px;
	background-color: transparent;
}

.rf-cp-hdr.tree-hdr {
	border-width: 0px;
	font-weight: normal;
	background-size:100% auto;
	min-width:224px;
	padding:0px;
}

.suggest {
	padding-right:20px;
	border-width:0px;
	background-repeat: no-repeat;
	background-position: top;
}

.modPesqEsq { 
    width: 38px;
	height: 25px;
	margin-top:0px;
	background-repeat: no-repeat;
}

.modPesqBg {
	background-repeat: repeat-x;
}

.modPesqInputText {
    border-width:0px;			    				    
    width:134px;
    height: 16px;
    padding-left:3px;
	background-repeat: no-repeat;
	background-color: transparent;
	color: #FFF;
}

.required {
	padding-left: 2px;
}

/* 
	detalheLog.xhtml, documentoHTML.xhtml 
*/
@media print{
	.onlyprint{display: block;visibility: visible;}
	.noprint{display: none;visibility: hidden;}
}

/*turnoCalendar.xhtml*/
.selected {
	background-color: #d42;
}
.fixed-selected {
	background-color: #d00;
}
/*messages.xhtml*/
.d-msg.hidden {
	visibility:hidden;
}
.d-msg-h {
	height:18px;
	font-weight:bold;
	border-style:solid;
	border-width:1px;
	position:relative;
}
.d-msg-h-close {
	cursor: pointer;
	position:absolute;
	right:2px;
	top:2px;
}
.d-msg-h-lbl {
	position:absolute;
	left:2px;
	top:2px;
}
.d-msg-c {
	 overflow:auto;
	 height:120px;
	 padding:5px;
	 color:#000;
}

.d-msg-c > ul {
	margin:0;
	padding:4px;
}

.d-msg-c > ul > li {
	 display:inline-block;
}

.rf-msgs-wrn {
	display:none;
}

.rf-msgs-err {
	padding: 2px;
	border: 1px solid red;
	background-color: #FFFFE0;
	display: block;
	background-image: none;
}

.d-msg {
	position:absolute; 
	top:calc(50% - 67px);
	left:calc(50% - 152px);			
	width:300px;
	height:131px;
	background-color:#fff;   				
	border:1px solid #BCC1BD;
	padding:1px;
	z-index:10000;
	font-size:12px;		
}

/*Painel/list.xhtml*/
.Panel.rf-p.ProcessoEpaList {
	width:100%;
}
.status {
	position:absolute;
}

/*Seleção de turnos no calendário de localização*/
.hidden.turno.calendar {
	visibility:hidden;
}