.pointer {
	cursor:pointer;
}
.pageBody {
	height:695px;
}
}
.pd-xml.textarea{
	min-height:465px;
	resize:none;
}
.rf-dt.dt-destinatarios {
	width:100%;
	
}

.conteudo.minimal {
	height:calc(100% - 100px);
}

 .swimlane-list,  .swimlane-form {
 	display:inline-block;
 	vertical-align:top;
 }