.pointer {
	cursor:pointer;
}
.pd-xml.textarea{
	min-height:465px;
	resize:none;
}
.rf-dt.dt-destinatarios {
	width:100%;
	
}

.conteudo.minimal {
	height:calc(100% - 125px);
}

 .swimlane-list,  .swimlane-form, .node-instance-e, .node-instance-l {
 	display:inline-block;
 	vertical-align:top;
 }
 
.node-instance-e {
	width:70%;
}
.node-instance-l {
	width:30%;
}
 
 .node-instance-p {
 	width:100%;
 	min-width:800px;
 }
 .link {
  text-decoration:none;
 }
 .link:hover{
  text-decoration:underline;
 }
 .bold-link {
  font-weight:900;
 }