.background-image(@base-path:@imgFolder, @image-name){
  background-image:~"url("%("%s/%s",@base-path,@image-name)~")";
}

.image(@imgName) {
  background-image:~"url("%("%s/%s",@imgFolder,@imgName)~")";
}

.z-depth(@level){
    box-shadow:0 2px*@level 5px*@level 0 rgba(0,0,0,0.16*@level),
    0 2px*@level 10px*@level 0 rgba(0,0,0,0.12*@level);
}

.transition(...){
    -o-transition: @arguments;
    -moz-transition: @arguments;
    -webkit-transition: @arguments;
    transition: @arguments;
}

.transform-origin(...){
    -o-transform-origin: @arguments;
    -ms-transform-origin: @arguments;
    -moz-transform-origin: @arguments;
    -webkit-transform-origin: @arguments;
    transform-origin: @arguments;
}

.transform(...){
    -o-transform: @arguments;
    -webkit-transform: @arguments;
    -ms-transform: @arguments;
    -moz-transform: @arguments;
    transform: @arguments;
}

.flex-displayed-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex-child(@ratio:1){
  -moz-flex:@ratio;
  -webkit-flex: @ratio;
  -ms-flex: @ratio;
  flex: @ratio;
}
.flex-displayed-child {
  .flex-child(1);
}

.central-block-section() {
  position:absolute;
  width: 355px;
  height: 122px;
}

.bg-dual-block() {
  position: fixed;
  height: 50%;
  width: 100%;
}

.box-sizing(@value){
    -webkit-box-sizing:@value;
    -moz-box-sizing:@value;
    box-sizing:@value;
}

.full-scr(){
  width: 100%;
  height: 100%;
}

.linear-gradient(@content){
  background:-moz-linear-gradient(@content);
  background:-webkit-linear-gradient(@content);
  background:-o-linear-gradient(@content);
  background:-ms-linear-gradient(@content);
}

.bg-deg-color(@startColor,@endColor) when (@startColor = @endColor){
  background: @startColor;
}

.bg-deg-color(@startColor,@endColor) when not (@startColor = @endColor){
  background: @startColor;
  .linear-gradient(~"top, "@startColor~" 0%, "@endColor~" 100%");
  background: linear-gradient(to bottom, @startColor 0%,@endColor 100%);
}

.btn-deg-color(@startColor,@endColor) when (@startColor = @endColor){
  background: @startColor;
}

.btn-deg-color(@startColor,@endColor) when not (@startColor = @endColor){
  background: @startColor;
  .linear-gradient(~"top, "@startColor~" 0%, "@endColor~" 100%");
  background: linear-gradient(to bottom, @startColor 0%,@endColor 100%);
}

.darken-color-percentage(@atrib,@color,@perc){
  @{atrib}:hsl(hue(@color),saturation(@color),lightness(@color)*@perc);
}

.deg-color(@cor) when (luminance(@cor)<=50%){
    @deg-color:lighten(@cor,30%);
}
.deg-color(@cor) when (luminance(@cor)>50%){
    @deg-color:darken(@cor,30%);
}