@menu-block-size:3em;
@menu-height:@menu-block-size;
@context-menu-width: 9.6em;
@content-translation: @context-menu-width+1;

.boundries {
    font-size:1rem;
    padding:1em;
    .flex-displayed-container;
    & > *{
        display:inline-block;
        vertical-align:top;
    }
}

.page-content{
    margin-top:@menu-height+(9/8);
    margin-left:@content-translation;
    max-width:calc(100%~" - "@content-translation);
    width:100%;
    margin-right:-100%;
    .z-depth(1);
}

.ifx-menu-container{
  max-height:@menu-height+(1/8);
  width:100%;
  margin-right:-100%;
}

.ifx-ctx-menu-container{
    margin-top:@menu-height+(9/8);
}

.ifx-menu-nav {
    text-align:right;
    &>.ifx-menu{
        .z-depth(2);
    }
}
.ifx-ctx-menu-nav{
    width:@context-menu-width;
    .transform-origin(left center);
    .transition(all 0.3s ease-in-out);
    &>.ifx-ctx-menu{
       .z-depth(4);
       &.off-screen{
         .transform(translate(calc(-100%~" - "-@menu-block-size), 1em));
       }
    }
    
}

.ifx-menu, .ifx-ctx-menu{
    padding:0;
    margin:0;
}
.ifx-ctx-menu > .ifx-ctx-menu-itm{
    display: block;
    cursor: pointer;
    position: relative;
    text-align:center;
}
.ifx-menu > .ifx-menu-itm {
    display:inline-block;
    vertical-align:top;
    cursor:pointer;
    position:relative;
}

.ifx-ctx-menu-lnk{
    padding: 1em;
    display: inline-block;
    box-sizing: border-box;
}

.ifx-menu-itm {
    text-align:left;
    &>.ifx-menu-lnk{
        padding:@menu-height/3;
        display:inline-block;
        white-space:pre;
        box-sizing:border-box;
    }
    &>.ifx-menu{
        .z-depth(4);
        position:absolute;
        margin:0.1em;
        right:0;
        .transition(all 0.3s ease-in-out);
        .transform(scale(1,0));
        .transform-origin(100% 0);
        &>.ifx-menu-itm{
            display:block;
        }
    }
    &:active,&:hover {
        &>.ifx-menu{
            .transform(scale(1));
        }
    }
}


/* NORMALIZATION*/
a.ifx-menu-lnk,a.ifx-ctx-menu-lnk {
  color:inherit;
  text-decoration:inherit;
  font-size:inherit;
}

/*MENU COLORING*/
.ifx-menu-nav {
  color: @menu-txt-color;
  background-color: @menu-bg-color;
  background-image:~"url(""#{pathResolver.contextPath}\#{layoutController.getResourceUrl('LOGO_TOPO')}"~")";
  background-position:top left;
  background-repeat:no-repeat;
  background-size:auto 100%;
}
.ifx-menu-itm {
    background-color: @menu-bg-color;
    border-color: darken(@menu-bg-color,5%);
    color: @menu-txt-color;
    &>.ifx-menu-lnk{
        &.ifx-menu-hidden{
            background-image:~"url(""#{pathResolver.contextPath}\#{layoutController.getResourceUrlByPath('/imagens/hamburger.png')}"~")";
            background-position:center center;
            background-repeat:no-repeat;
            background-size:2em;
            width:@menu-block-size;
            height:@menu-block-size;
            .ifx-menu-lbl {
                margin-left:-1000em;
            }
        }
    }
    &:hover,&.ifx-menu-itm-active {
        color: @menu-bg-color;
        background-color: @menu-txt-color;
        border-color: @menu-bg-color;
    }
}

.ifx-ctx-menu-itm{
    background-color: @menu-bg-color;
    border-color: darken(@menu-bg-color,5%);
    color: @menu-txt-color;
    &:hover,&.ifx-ctx-menu-itm-active {
        color: @menu-bg-color;
        background-color: @menu-txt-color;
        border-color: @menu-bg-color;
    }
}
