/*Classes para linhas zebradas da tabela*/
.banner .clock, .banner .center, .banner label, .banner select {
	color:#003300;
}
   
.banner .divBg {
	background-color:#a0c991;
}
   
/* CSS para as Paginas */	
html, body {
	background: #c3d9e4; /* Cor fixa para Browsers antigos */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxMyUiIHN0b3AtY29sb3I9IiNjM2Q5ZTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYWNjOGJlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==); /* IE9 SVG */
	background: -moz-linear-gradient(top,  #c3d9e4 13%, #acc8be 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(13%,#c3d9e4), color-stop(100%,#acc8be)); 
	background: -webkit-linear-gradient(top,  #c3d9e4 13%,#acc8be 100%); 
	background: -o-linear-gradient(top,  #c3d9e4 13%,#acc8be 100%); 
	background: -ms-linear-gradient(top,  #c3d9e4 13%,#acc8be 100%);
	background: linear-gradient(to bottom,  #c3d9e4 13%,#acc8be 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3d9e4', endColorstr='#acc8be',GradientType=0 );
}	

.subBorda {	  
	background: #bbcec2; /* Cor fixa para Browsers antigos */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjYmJjZWMyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNzUlIiBzdG9wLWNvbG9yPSIjODBhOTkxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzgwYTk5MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=); 	/* IE9 SVG */
	background: -moz-linear-gradient(45deg,  #bbcec2 0%, #80a991 75%, #80a991 100%); 
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#bbcec2), color-stop(75%,#80a991), color-stop(100%,#80a991)); 
	background: -webkit-linear-gradient(45deg,  #bbcec2 0%,#80a991 75%,#80a991 100%);
	background: -o-linear-gradient(45deg,  #bbcec2 0%,#80a991 75%,#80a991 100%); 
	background: -ms-linear-gradient(45deg,  #bbcec2 0%,#80a991 75%,#80a991 100%);
	background: linear-gradient(45deg,  #bbcec2 0%,#80a991 75%,#80a991 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbcec2', endColorstr='#80a991',GradientType=1 );
	
	color:#FFFFFF;
}

.banner {
	background: #c7d8cd; /* Cor fixa para Browsers antigos */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M3ZDhjZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iI2RiZTVkZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=); /* IE9 SVG */
	background: -moz-linear-gradient(top,  #c7d8cd 0%, #dbe5de 90%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c7d8cd), color-stop(90%,#dbe5de)); 
	background: -webkit-linear-gradient(top,  #c7d8cd 0%,#dbe5de 90%); 
	background: -o-linear-gradient(top,  #c7d8cd 0%,#dbe5de 90%); 
	background: -ms-linear-gradient(top,  #c7d8cd 0%,#dbe5de 90%); 
	background: linear-gradient(to bottom,  #c7d8cd 0%,#dbe5de 90%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7d8cd', endColorstr='#dbe5de',GradientType=0 );			    
}

/* CSS para os Forms */
select {
	background-repeat: no-repeat;
	background-position: top;
	background-color: transparent;
}	
		
.rich-calendar-input  {
	background-repeat: no-repeat;
	background-position: top left;			
	color: black;
}

.inputText {
	background-repeat: no-repeat;
	background-position: top left;			
	color: black;
}

textarea, select {
	color: black;
}

.inputTextMiniW69, .inputTextMiniW25, .foneDDD, .foneNormal {
	background-repeat: no-repeat;
	background-position: top left;			
	color: black;
}

input[type='submit'],input[type='button'], .buttons {
	background-color: transparent;					
}

.inputTreeHeader {
	background-repeat: no-repeat;
	background-position: right;			
	background-color: white !important;
	color: black !important;
}

.inputTreeBody {
	background-color: white;
}

.suggest {
	background-repeat: no-repeat;
	background-position: top;				
}
	
/* Pagina do Login*/
.corpoSuperior {
	background: #cce0e6; /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjZTBlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiY2Q2ZDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #cce0e6 0%, #bcd6d4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cce0e6), color-stop(100%,#bcd6d4));
	background: -webkit-linear-gradient(top,  #cce0e6 0%,#bcd6d4 100%); 
	background: -o-linear-gradient(top,  #cce0e6 0%,#bcd6d4 100%);
	background: -ms-linear-gradient(top,  #cce0e6 0%,#bcd6d4 100%); 
	background: linear-gradient(to bottom,  #cce0e6 0%,#bcd6d4 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cce0e6', endColorstr='#bcd6d4',GradientType=0 );
}

.corpoInferior {
	background: #c6dddf;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M2ZGRkZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiMmQwYzciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #c6dddf 0%, #b2d0c7 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c6dddf), color-stop(100%,#b2d0c7)); 
	background: -webkit-linear-gradient(top,  #c6dddf 0%,#b2d0c7 100%); 
	background: -o-linear-gradient(top,  #c6dddf 0%,#b2d0c7 100%);
	background: -ms-linear-gradient(top,  #c6dddf 0%,#b2d0c7 100%); 
	background: linear-gradient(to bottom,  #c6dddf 0%,#b2d0c7 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6dddf', endColorstr='#b2d0c7',GradientType=0 );
}
.bg_login, .newPasswd {
	background: #a2b9b5; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EyYjliNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiOGQxY2YiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #a2b9b5 0%, #b8d1cf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a2b9b5), color-stop(100%,#b8d1cf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a2b9b5 0%,#b8d1cf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a2b9b5 0%,#b8d1cf 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a2b9b5 0%,#b8d1cf 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a2b9b5 0%,#b8d1cf 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2b9b5', endColorstr='#b8d1cf',GradientType=0 ); /* IE6-8 */
}
.login .input_login, .reqSenha .input_login {
	background: rgb(244,247,246); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZjdmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(244,247,246,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,247,246,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(244,247,246,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(244,247,246,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(244,247,246,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(244,247,246,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f7f6', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
	border: 2px solid #c4d6d1;
}
.bg_login_inferior {
	background: rgb(195,216,219); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2MzZDhkYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiOWQxZDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(195,216,219,1) 0%, rgba(185,209,208,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(195,216,219,1)), color-stop(100%,rgba(185,209,208,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(195,216,219,1) 0%,rgba(185,209,208,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(195,216,219,1) 0%,rgba(185,209,208,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(195,216,219,1) 0%,rgba(185,209,208,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(195,216,219,1) 0%,rgba(185,209,208,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3d8db', endColorstr='#b9d1d0',GradientType=0 ); /* IE6-8 */
}
.bg_login_inferior .input_button {
	background:#FFF;
	border:1px solid #868686;
	color:#8ca29c;
}

.reqSenha label {
    color: #616161;
}

.modPesqEsq{ 
	background-repeat:no-repeat;
}

.modPesqBg{
	background-repeat:repeat-x;
}

.modPesqInputText{
    background-color:transparent;
    background-repeat: no-repeat;			    
    color:white;
}	

.painelUsuario select {
	background-color:transparent;
}