@import "padrao.import.less";

@bgColorSelect:#FFF;
@button-border-color:#FFF;
@button-bg-color:#FFF;
@button-txt-color:#000;
@borderColorInputTree:#000;
@bgColorInputTextareaSelect:#FFF;
@borderColorInputTextareaSelect:#FFF;
@bgColorRequired:#FFF;
@headerBackgroundColor:#FFF;
@headerTextColor:#000;
@panelBorderColor:#FFF;
@tableBorderColor:#FFF;
@baseBgColor:#FFF;
@baseDegBgColor:#FFF;
@login-label-color:#000;

@panel-border-color:#ccc;

@zebra-row-color-odd:#FFF;
@zebra-row-color-even:#FFF;
@zebra-row-color-over:#FFF;
@dt-toolbar-column-border-color:#FFF;
@rf-dt-col-shdr-cont-color:#000;
@header-bg-color:#FFF;
@header-bg-deg-color:#FFF;
@menu-bg-color:#FFF;
@menu-txt-color:#000;
@login-label-color:#000;
@login-corpoSuperior-bg-color:#FFF;
@login-corpoSuperior-bg-deg-color:#FFF;
@login-corpoInferior-bg-color:#FFF;
@login-corpoInferior-bg-deg-color:#FFF;
@central-block-top-right-section-bg-color:#FFF;
@central-block-top-right-section-bg-deg-color:#FFF;
@central-block-bottom-right-section-bg-color:#FFF;
@central-block-bottom-right-section-bg-deg-color:#FFF;
@input-text-login-bg-color:#FFF;
@input-text-login-bg-deg-color:#FFF;
@input-text-login-bord-color:#FFF;

@sub-borda-bg-color:#333;
@sub-borda-bg-deg-color:#333;
@sub-borda-title-color:#FFF;

@pp-hdr-bg-color:#FFF;
@pp-hdr-txt-color:#000;

@cal-bg-color:#FFF;
@cal-txt-color:#000;

@file-upload-btns-bg-color:#FFF;
@file-upload-hdr-bg-color:#FFF;

@ctx-menu-bg-color:#FFF;
@ctx-menu-txt-color:#000;

@expr-wiz-Transition-color:#FFF;
@expr-wiz-String-color:#FFF;
@expr-wiz-Boolean-color:#FFF;
@expr-wiz-Arith-color:#FFF;

/* Novas variáveis */
@base-label-color: #000;
@base-label-color-selecionado: #FFF;
@bg-color-item-selecionado: #000;
@menu-nav-txt-color: #000;
@cal-bg-color-today:#777;

@infox-tab-bg-color:@menu-bg-color;
@infox-tab-txt-color:@menu-txt-color;

@panel-bg-color:@menu-bg-color;
@panel-txt-color:@menu-txt-color;