.background-image(@base-path:@imgFolder, @image-name){
  background-image:~"url("%("%s/%s",@base-path,@image-name)~")";
}

.image(@imgName) {
  background-image:~"url("%("%s/%s",@imgFolder,@imgName)~")";
}

.flex-displayed-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex-child(@ratio:1){
  -moz-flex:@ratio;
  -webkit-flex: @ratio;
  -ms-flex: @ratio;
  flex: @ratio;
}
.flex-displayed-child {
  .flex-child(1);
}

.central-block-section() {
  position:absolute;
  width: 355px;
  height: 122px;
}

.bg-dual-block() {
  position: fixed;
  height: 50%;
  width: 100%;
}

.anchor(@vertical,@horizontal){
  @{vertical}:0;
  @{horizontal}:0;
}

.full-scr(){
  width: 100%;
  height: 100%;
}

.bg-deg-color(@startColor,@endColor) when (@startColor = @endColor){
  background: @startColor;
}

.bg-deg-color(@startColor,@endColor) when not (@startColor = @endColor){
  background: @startColor; /* Old browsers */
  background: -moz-linear-gradient(top, @startColor 0%, @endColor 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@startColor), color-stop(100%,@endColor)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, @startColor 0%,@endColor 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, @startColor 0%,@endColor 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, @startColor 0%,@endColor 100%); /* IE10+ */
  background: linear-gradient(to bottom, @startColor 0%,@endColor 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@startColor', endColorstr='@endColor',GradientType=0 ); /* IE6-9 */
}

.btn-deg-color(@startColor,@endColor) when (@startColor = @endColor){
  background: @startColor;
}

.btn-deg-color(@startColor,@endColor) when not (@startColor = @endColor){
  background: @startColor; /* Old browsers */
  background: -moz-linear-gradient(top, @startColor 0%, @endColor 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@startColor), color-stop(100%,@endColor)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, @startColor 0%,@endColor 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, @startColor 0%,@endColor 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, @startColor 0%,@endColor 100%); /* IE10+ */
  background: linear-gradient(to bottom, @startColor 0%,@endColor 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@startColor', endColorstr='@endColor',GradientType=0 ); /* IE6-9 */
}

.darken-color-percentage(@atrib,@color,@perc){
  @{atrib}:hsl(hue(@color),saturation(@color),lightness(@color)*@perc);
}
