@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(#{pathResolver.contextPath}/javax.faces.resource/vzIUHo9z-oJ4WgkpPOtg1_esZW2xOQ-xsNqO47m55DA.woff.seam?ln=fonts/roboto/v15) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(#{pathResolver.contextPath}/javax.faces.resource/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff.seam?ln=fonts/roboto/v15) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(#{pathResolver.contextPath}/javax.faces.resource/2UX7WLTfW3W8TclTUvlFyQ.woff.seam?ln=fonts/roboto/v15) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(#{pathResolver.contextPath}/javax.faces.resource/RxZJdnzeo3R5zSexge8UUT8E0i7KZn-EPnyo3HZu7kw.woff.seam?ln=fonts/roboto/v15) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(#{pathResolver.contextPath}/javax.faces.resource/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff.seam?ln=fonts/roboto/v15) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(#{pathResolver.contextPath}/javax.faces.resource/mnpfi9pxYH-Go5UiibESIj8E0i7KZn-EPnyo3HZu7kw.woff.seam?ln=fonts/roboto/v15) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(#{pathResolver.contextPath}/javax.faces.resource/1pO9eUAp8pSF8VnRTP3xnvesZW2xOQ-xsNqO47m55DA.woff.seam?ln=fonts/roboto/v15) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(#{pathResolver.contextPath}/javax.faces.resource/t6Nd4cfPRhZP44Q5QAjcC4bN6UDyHWBl620a-IRfuBk.woff.seam?ln=fonts/roboto/v15) format('woff');
}
