@context-path:"#{pathResolver.contextPath}";

// FUNÇÕES
//@import (inline,css) "font.roboto.css";
@import "functions/epp-mixins.import.less";
@import "normalizacao/base.import.less";

// COMPONENTES / ÁTOMOS
@import "atomos/badge.import.less";
@import "atomos/treeCategorias.import.less";
@import "atomos/buttons.import.less";
@import "atomos/tree.import.less";
@import "atomos/popup-panel.import.less";
@import "atomos/calendar.import.less";
@import "atomos/context-menu.import.less";
@import "atomos/file-upload.import.less";
@import "atomos/datatable.import.less";
@import "atomos/messages.import.less";
@import "atomos/snackbar.import.less";
@import "atomos/spinner.import.less";
@import "atomos/defaultCRUD.import.less";
@import "atomos/abas.import.less";
@import "atomos/auto-complete.import.less";
@import "atomos/selectManyMenu.import.less";
@import "atomos/panel.import.less";
@import "atomos/picklist.import.less";
@import "atomos/toolbar.import.less";

// GRUPOS DE COMPONENTES / MOLÉCULAS
@import "header.import.less";//OLD
@import "menu.import.less";//OLD
@import "moleculas/dynamicParameters.import.less";
@import "moleculas/header.import.less";
@import "moleculas/postit.import.less";
@import "moleculas/menu.import.less";
@import "moleculas/quadro.import.less";

// MODELOS DE PAGINAS
@import "temas/primeUI.import.less"; // ??
@import "temas/empty.import.less";

// PÁGINAS
@import "paginas/login.import.less";
@import "paginas/movimentar.import.less";
@import "paginas/paginator.import.less";
@import "paginas/processDefinition.import.less";
@import "paginas/termoAdesao.import.less";
@import "paginas/help.import.less";
@import "paginas/painelUsuario.import.less";

.mdl-shadow--2dp {
  .prefixed-atrib(box-shadow, ~"0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)");
}
.mdl-shadow--3dp {
  .prefixed-atrib(box-shadow, ~"0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.12)");
}
.mdl-shadow--4dp {
  .prefixed-atrib(box-shadow, ~"0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2)");
}
.mdl-shadow--6dp {
  .prefixed-atrib(box-shadow, ~"0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12),0 3px 5px -1px rgba(0,0,0,.2)");
}
.mdl-shadow--8dp {
  .prefixed-atrib(box-shadow, ~"0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12),0 5px 5px -3px rgba(0,0,0,.2)");
}
.mdl-shadow--16dp {
  .prefixed-atrib(box-shadow, ~"0 16px 24px 2px rgba(0,0,0,.14),0 6px 30px 5px rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2)");
}
.mdl-shadow--24dp {
  .prefixed-atrib(box-shadow, ~"0 9px 46px 8px rgba(0,0,0,.14),0 11px 15px -7px rgba(0,0,0,.12),0 24px 38px 3px rgba(0,0,0,.2)");
}

@imgFolder:~"#{pathResolver.contextPath}/#{wiSkin.imageFolder}";
@contextPath:~"#{pathResolver.contextPath}";

@standard-border-color:#c0c0c0;

@baseBgColor:#c3d9e4;
@baseDegBgColor:#acc8be;

@bgColorSelect:#ECF7EC;
@borderColorInputTree:#090;
@bgColorInputTextareaSelect:#EFFBEF;
@borderColorInputTextareaSelect:#D1E9D3;
@bgColorRequired:#F00;
@headerBackgroundColor:#D4F2D6;
@headerTextColor:#5B7961;
@panelBorderColor:#C0C0C0;
@tableBorderColor:#C0C0C0;
@tableBorderWidth:1rem/16;

@toggle-panel-bg-color:#FFF;
@toggle-panel-txt-color:#000;

@sub-borda-bg-color:#80a991;
@sub-borda-bg-deg-color:#bbcec2;
@sub-borda-title-color:#FFF;

@sub-borda-marg:8rem/16;
@sub-borda-pad:5rem/16;
@sub-borda-bord-width:0;

@default-font-family:"RobotoDraft","Roboto";

@header-bg-color:#c7d8cd;
@header-bg-deg-color:#dbe5de;
@menu-bg-color:#a0c991;
@menu-txt-color:#030;

//LAYOUT GERAL DA PÁGINA
.width-5 {
  width: 5rem/16;
}

.text-center {
  text-align: center;
}

.title {
  font-size: 1.25rem;
  &.tarefa-list{
    margin-bottom: 5rem/16;
    cursor:pointer;
  }
  &.process-filter {
    margin: 0;
    padding: 20rem/16 0 0;
  }
}

.subtitle {
  font-size: 1rem;
  margin: 0;
}

.padding-top-5 {
  padding-top: 5rem/16;
}

.padding-top-10 {
  padding-top: 10rem/16;
}

.property-field-edit {
  margin: 0 15rem/16 15rem/16 0;
}
.property.field.edit {
    &:extend(.property-field-edit);
}

.organized {
  display: inline-block;
  vertical-align: top;
}

.nodeDiv {
  &:extend(.organized);
}

.SearchForm {
  &:extend(.organized);
  margin: 0 5rem/16 5rem/16 0;
}

//FIM LAYOUT GERAL

.readOnly {
  color: gray !important;
}

.checkbox {
  width: 14rem/16 !important;
}

.panelGridCell {
  vertical-align: top;
}

.grid {
  overflow: auto;
}

.tableControl {
  width: 100%;
  text-align: right;
}

.footer {
  text-align: center;
}

h1 {
  color: #578BB8;
  margin-top: 0;
}

#html {
	height:100%;
}

#body {
  margin: 0;
  font-family:@default-font-family;
}

.columnHeader:hover {
  color: #f60;
}

.viewColumn {
  vertical-align: top;
}
.property-field-edit-name , .property.field.view .name{
  font-weight: bold;
}

.property-field-edit-value {
  font-size:1em;
  padding: 1em/4 0;
  &.property-error {
    padding: 3rem/16;
  }
}
.value {
  &:extend(.property-field-edit-value);
}

.property-error {
  border: 1rem/16 solid #f00;
  border-radius: 5rem/16;
  &.property-msg {
    background-color: #FFFFE0;
    display: inline-block;
    margin: 0 0 1rem/16 20rem/16;
    padding: 2rem/16;
  }
}

.decoration-div {
  display: inline-block;
  vertical-align: top;
}

.activeRow {
  background-color: #F0F8FF !important;
}

.dr-stglpnl-b {
  padding: 0 5rem/16;
}

.inativo {
  text-decoration: line-through;
  color: #f00;
}

.expirado {
  color: #f00;
}

.nivelpai {
  font-weight: bolder;
}

.dr-tree {
  background-color: #fff;
}

.folderHighlighted {
  text-decoration: none !important;
  color: #000 !important;
}

.folderSelected {
  border: solid 1rem/16 transparent !important;
}

.highlight {
  font-weight: bold;
}

// BAM
.circ {
  width: 15rem/16;
  height: 15rem/16;
  border-width: 0;
  border-radius: 15rem/16;
  left: 10rem/16;
}

.yellow-back {
  background-color: #ff0;
}

.red-back {
  background-color: #f00;
}

#help .highlight,#pagina .highlight {
  background-color: #ffa;
}

.defaultCell {
  padding: 2rem/16 3rem/16 0 3rem/16;
}

.painelLog {
  width: 350rem/16;
  background: transparent;
  border: none;
}

.rich-spinner-button {
  height: 7rem/16;
  width: 13rem/16 !important;
}

.rf-tab.tarefasDiv .rf-tab-cnt {
  width: 310rem/16;
  height: 450rem/16;
  border-bottom-color: #C0C0C0;
  border-left-color: #C0C0C0;
  border-right-color: #C0C0C0;
}

// Retira o sombreamento do ModalPanel
.noMaskClass .rich-mpnl-mask-div {
  display: none;
}

.columnDataListToolBar {
  width: 40rem/16;
  padding: 2rem/16 0 0 0;
  text-align: center;
  border:1rem/16 solid #CCC;
}

.transpToolBar {
  width: 100%;
  text-align: center;
  opacity: 0.3;
  filter: ~"alpha(opacity = 30)";
}

#status {
  position: fixed;
  top:0;
  left:0;
}

.transpToolBar:hover {
  opacity: 1.0;
  filter: ~"alpha(opacity = 100)";
}

.opacityHover {
  opacity: 0.6;
  filter: ~"alpha(opacity = 60)";
}

.opacityHover:hover {
  opacity: 1.0;
  filter: ~"alpha(opacity = 100)";
  cursor: pointer;
}

.pointerRow:hover {
	cursor: pointer;
}

img.disabled {
  opacity: 0.3;
  filter: ~"alpha(opacity = 30)";
}

.transparency {
  background-color: transparent;
  border: none;
}

.formPesquisa{
  & div {
    border-radius: 5rem/16;
    height: 30rem/16;
    text-align: right;
    width: 100%;
  }
  & input[type="image"] {
    position: relative;
    top: 5rem/16;
  }
  & a {
    position: relative;
    top: 3rem/16;
    margin-right: 15rem/16;
  }
}

.palette div {
  width: 67rem/16;
  height: 21rem/16;
}

.calendar-ipt.periodoMaskDate,.calendar-ipt.crud {
  background-color: #fff;
  border-radius: 5rem/16;
  height: 20rem/16;
  width: 95rem/16;
  margin-right: 20rem/16;
  margin-bottom: 10rem/16;
  background-repeat: no-repeat;
  background-position: left center;
  background-image:url("#{pathResolver.contextPath}/#{wiSkin.imageFolder}/btn-calendario.png");
  padding: 0 0 0 25rem/16;
}

.rich-calendar-input {
  border-width: 0;
  background-repeat: no-repeat;
  background-position: top left;
}

.linkButton {
  padding: 3rem/16 12rem/16;
}

.reqSenha label {
  margin: 0;
}

.conclusionSelect {
  display: block;
}

#backgroundBlock {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: #000;
  opacity: 0.75;
}

#atividadeParteDiv form {
  left: 50%;
  top: 50%;
  height: 136rem/16;
  width: 284rem/16;
  margin: -68rem/16 0 0 -197rem/16;
  position: fixed;
  z-index: 2;
}

#atividadeParteDiv input[type="button"],#atividadeParteDiv input[type="submit"],#atividadeParteDiv form {
  background-color: #FFF;
}

#atividadeParteDiv form .rich-panel {
  height: 100rem/16;
  margin: 0;
  max-width: 99%;
  padding-top: 0;
}

.expressionDiv span:hover {
  background-color: #BBCEC2;
  cursor: pointer;
}

.inputTextMiniW69,.inputTextMiniW25,.foneDDD,.foneNormal {
  border-width: 0;
  color: #000;
  background-repeat: no-repeat;
  background-position: top left;
}

.label-brk-ln {
  display: block;
  margin: 14rem/16 0;
}

.inline-blk {
  display: inline-block;
  &.ipt-blk {
    margin: 0 20rem/16 0 0;
  }
}

.txtCaixa {
  background-color: #FFF;
  border-radius: 5rem/16;
  height: 24rem/16;
  width: 230rem/16;
  margin-bottom: 10rem/16;
  padding-left: 10rem/16;
}

span.rf-ds-btn {
  background:#fff;
}
.suggest {
  padding-right: 20rem/16;
  border-width: 0;
  background-repeat: no-repeat;
  background-position: top;
}

.modPesqEsq {
  width: 38rem/16;
  height: 25rem/16;
  margin-top: 0;
  background-repeat: no-repeat;
}

.modPesqBg {
  background-repeat: repeat-x;
}

.modPesqInputText {
  border-width: 0;
  width: 134rem/16;
  height: 16rem/16;
  padding-left: 3rem/16;
  background-repeat: no-repeat;
  background-color: transparent;
  color: #FFF;
}

.required {
  padding-left: 2rem/16;
}

//detalheLog.xhtml, documentoHTML.xhtml
@media print {
  .onlyprint {
    display: block;
    visibility: visible;
  }
  .noprint {
    display: none;
    visibility: hidden;
  }
}

// turnoCalendar.xhtml
.selected {
  background-color: #d42;
}

.fixed-selected {
  background-color: #d00;
}

.fluxo-div {
	font-weight:bold;
	text-transform: uppercase;
}

.tree-tarefas {
	color: @menu-txt-color;
  	font-size: 13rem/16;
  	text-transform: uppercase;
  	font-weight: bold;
  	padding-bottom: 113rem/16;
}

// Painel/list.xhtml
.p-caixas {
  color: #5C6469;
  background-color: @baseBgColor;
  padding-bottom: 113rem/16;
  width: 20%;
  display: inline-block;
  vertical-align: top;
}

@p-list-margin:5rem/16;
.p-list {
  display: inline-block;
  vertical-align: top;
  width: 76%;
  margin-right: 10rem/16;
  margin-top: 15rem/16;
}

.fluxo-sel {
	background-color: @bg-color-item-selecionado;
	color: @base-label-color-selecionado;
}

.p-caixas-b {
  color: @menu-txt-color;
  font-size: 13rem/16;
  text-transform: uppercase;
  font-weight: bold;
}
// Seleção de turnos no calendário de localização
.hidden.turno.calendar {
  visibility: hidden;
}

.grid-img,.grid-img-div {
  width: 100%;
}

.grid-img-div {
  height: 100%;
  overflow: hidden;
}

.rf-dg-c {
  width: 16%;
  height: 20%;
}

.rf-dg.d-grid-img {
  width: 400rem/16;
}

.cursor-pointer {
  cursor: pointer;
}

.help-link {
  position: fixed;
  top: 25rem/16;
  right: 5rem/16;
}

.sem-resultado-ajuda {
  position: absolute;
  color: #f00;
  right: 250rem/16;
  top: 2rem/16;
}

.status-ajuda {
  position: absolute;
  right: 3rem/16;
  top: 3rem/16;
  z-index: 1000;
}

.lateral-editor-ajuda {
  position: relative;
  right: -700rem/16;
  top: -600rem/16;
  width: 420rem/16;
}

form {
  margin: 0;
  padding: 0;
}

#javax_faces_developmentstage_messages {
  display: none;
}

//  Workaround para o bug RF-12332 do Richfaces. Ver https://issues.jboss.org/browse/RF-12332
div.rf-trn {
  overflow: visible;
}

//  Fim do workaround RF-12332
.rf-tr {
  text-align: left;
}

.img-panel-cont {
  display: inline-block;
}

.caixa-ind-lbl {
  width:200rem/16;
}
.margin-top-div {
  margin:15rem/16 0 0 0;
}

.gaugeContainer.organized {
  width:210rem/16;
}
.rf-p {
  &.dt-form-p {
    background-color:@baseBgColor;
  }
  &.dtable-p.bam-table {
    width:calc(~"100% - 212rem/16");
  }
}

.epp-tooltip {
	display: none;
	visibility:hidden;
	position: absolute;
	z-index: 9001;
}

.tooltip-parent:hover > .epp-tooltip {
	display: block;
	visibility:visible;
}

.tooltip-panel {
	max-width: 450rem/16;
	max-height: 130rem/16;
	background-color: #ffc;
	overflow: auto;
	padding: 2rem/16;
	border:1rem/16 solid #000;
}

.panel-relative {
	position: relative;
}

.tooltip-panel-div {
	margin-left:20rem/16;
}

.tooltip-panel-top {
	margin-top:5rem/16;
}

.texto-tachado{
	text-decoration:line-through;
	color: #f00;
}

.caixa-drag{
  border: 1rem/16 solid @menu-txt-color;
  background-color: @menu-bg-color;
  color: @menu-txt-color;
  cursor: all-scroll;
  &:before{
    .image("dragDropDefault.gif");
  }
  &.caixa-acpt {
    &:before{
      .image("dragDropAccept.gif");
    }
  }
  &.caixa-rejt {
    &:before{
      .image("dragDropReject.gif");
    }
  }
}

.home-body {
    height: 100%;
}
.rich-calendar-input {
    &:extend(.input-text);
}

.rf-tr-nd.rf-drp-hlight {
  border: 1rem/16 solid @menu-txt-color;
}

option {
  background-color:@bgColorSelect;
  &[disabled="disabled"] {
      text-decoration: line-through;
  }
}
.required {
  color:@bgColorRequired;
}

.ipt-txt-area-select {
  border-color:@borderColorInputTextareaSelect;
  background:@bgColorInputTextareaSelect;
}

.process-panel-dt{
  &.rf-dt{
    font-size:12rem/16;
    width:98%;
  }
}

.process-panel-dt-col-hdr{
  &.rf-dt-shdr-c {
    padding: 10rem/16;
    font-family: @default-font-family;
    font-style: italic;
    background-color: @baseBgColor;
    text-align: center;
    color: #4B4B4B;
    border:solid 2rem/16 @menu-bg-color;
  }
}

.process-panel-dt-col {
  &.rf-dt-c{
    padding:10rem/16;
    background-color:#fff;
    text-align:center;
    color:#4b4b4b;
    border:solid 2rem/16 @menu-bg-color;
  }
}

.process-panel-filters {
  font-size: 14rem/16;
  color: #5c6469;
  background-color: @menu-bg-color;
  padding:0 0 30rem/16 20rem/16;
  line-height: 15rem/16;
  overflow: hidden;
}

.process-panel{
  &:extend(.process-panel-filters);
  margin: 10rem/16 0 0 0;
}

.rf-trn{
  &.panel-tree-node{
    white-space: normal;
    color:@menu-txt-color;
  }
}
.rf-trn-hnd{
  &.panel-handler{
    &.rf-trn-hnd-exp {
      display:none;
    }
    &.rf-trn-hnd-colps {
      display:none;
    }
  }
}

.processo-panel-form.hidden {
  display:none;
}
.rf-trn-cnt.rf-trn-sel {
  background-color:@bg-color-item-selecionado;
  color: @base-label-color-selecionado;
}
.rf-insl > .rf-insl-trc-cntr > .rf-insl-trc {
  background-image:none;
  background-color:@menu-bg-color;
}
.rf-pick-src > .rf-pick-src-cptn,.rf-pick-tgt > .rf-pick-tgt-cptn {
  color: @menu-txt-color;
}
.palette-img-inpt{
  cursor:pointer;
}
.folder {
  color:@menu-txt-color;
  word-break: break-all;
  text-decoration: none;
}
.folder-ul{
  list-style: none;
  padding-left:0;
}
.folder-selected{
  color:@menu-bg-color;
  background-color:@menu-txt-color;
}

.halfBlock {
  display:inline-block;
  position:relative;
  width:50%;
  vertical-align:middle;
}
.left-aligned {
  &:extend(.halfBlock);
  text-align:left;
}
.right-aligned {
  &:extend(.halfBlock);
  text-align:right;
}

.circle {
    border-radius: 50%;

    width: 12rem/16;
    height: 12rem/16;
    padding: 2rem/16;

    background: #fff;
    border: 2rem/16 solid #666;
    color: #666;
    text-align: center;
    font-size:12rem/16;
    font: @default-font-family;
}

div.rf-pp-hdr-cnt {
  color: @base-label-color;
}


//  Primefaces
.ui-outputlabel-rfi {
  color:@bgColorRequired;
}

.ui-outputlabel.property-field-edit-name {
  font-size: 11rem/16;
}

.ui-outputlabel {
  font-family: @default-font-family;
}

.ui-inputfield.ui-state-focus {
  box-shadow: none;
  border-color: #C4C0B9;
}

input.ui-inputfield {
  box-shadow: none;
  padding: 2rem/16 4rem/16 2rem/16 4rem/16;
}

.ui-inputfield {
  border-radius : 0;
}

.ui-corner-left {
  border-radius : 0;
}

.ui-corner-right {
  border-radius : 0;
}

.ui-state-hover {
    box-shadow: none;
}
.ui-icon.ui-icon-triangle-1-s {
  background-image: none
}

.mdl-selectfield{
  font-family:'Roboto','Helvetica','Arial',sans-serif;
  position:relative;
}
