/* CORES DAS ABAS */
#abas() {
    .tabs {
        .ui-tabs {
            background-image: none;
            background-color: inherit;
            border-style: none;
            .ui-tabs-nav {
                background-image: none;
                background-color: inherit;
                border-style: none;
                display: inline-block;
                padding: 0 5px;
                margin: 0 0 1px;
                &.ui-widget-header {
                    margin: 0;
                    padding: 0;
                    li {
                        background-color: @infox-tab-bg-color;
                        background-image: none;
                        border: solid #ccc;
                        border-width: 0 0 5px;
                        border-radius: 0;
                        margin: 0 0 0 2px;
                        padding: 0;
                        & > a {
                            color: @infox-tab-txt-color;
                            text-shadow: none;
                        }
                        &.ui-state-active {
                            margin: 0 0 0 2px;
                            padding: 0;
                            border-width: 0 0 5px;
                            border-bottom-color: @infox-tab-txt-color;
                        }
                    }
                }
            }
            .ui-tabs-panel {
              margin: .25em 0;
              padding: .25em .5em;
              border-width: 1px 0;
            }
        }
    }
}
body {
    #abas > .tabs;
}
