.seletorSkinsLogin{
    text-align:right;
    font-size:1rem;
    &>* {
        display:inline-block;
        vertical-align:middle;
        font-size:1em;
    }
}
form#login{
    text-align:center;
}
.bg_login_inferior{
    padding:1.5em;
}
.blocoCentralLogin {
  text-align:center;  
  background-image:~"url(""#{pathResolver.contextPath}/#{layoutController.getResourceUrl('LOGO_LOGIN')}"~")";
  background-repeat:no-repeat;
  background-position:top center;
  padding: 146px 1em 1em;
  font-size:1rem;
  display:inline-block;
  .z-depth(1);
}
.logo-img{
  display:none;
}
.bg_login{
  text-align:center;
  display:inline-block;
  position:relative;
}

.login-common-flex{
    display:inline-block;
    vertical-align:top;
}

.login-lbl {
  &:extend(.login-common-flex);
  font-size:1em;
  margin:0.2em;
  width:100%;
}
input.input-text-login{
  &:extend(.login-common-flex);
  text-align:center;
  font-size:1em;
  margin:0.2em;
}
span.versao{
    position:fixed;
    bottom:1em;
    right:1em;
}