/* CSS para as Paginas */	
html, body {
	background: #FFF; /* Cor fixa para Browsers antigos */
}	

.subBorda {	  
	color:#FFF;
	background-color: #000; /* Cor fixa para Browsers antigos */
}

.banner .clock, .banner .center, .banner label {
	color:#000;
}

.banner .divBg {
	color:#FFF;
	background-color:#000;
}

.banner {
	background: #FFF; /* Cor fixa para Browsers antigos */
}

/* Pagina do Login*/
.corpoSuperior {
	background: #FFF; /* Old browsers */
}

.corpoInferior {
	background: #c6c6c6;
}


.bg_login_inferior {
	background-color: #FFF;
	border: 1px solid #000;
}

.banner .divBg label {
	color:#FFF;
}

.bg_login, .corpoInferior, .newPasswd {
	background-color: #000;
	border: 1px solid #000;
}

.login .input_login, .reqSenha .input_login {
	background-color: #FFF; /* Old browsers */
	border: 2px solid #FFF;
}

.bg_login_inferior .input_button {
	background-color:#FFF;
	border:1px solid #000;
	color:#000;
}

.reqSenha label {
    color: #FFF;
    font-family: Arial,sans-serif;
    margin: 0;
}

.login-lbl {
	color:#FFF;
}